<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.min.js" integrity="sha512-Bv/7njhHm3tTihIuFpbJW5LJpKAssVEMnVO5oEI74r6wCV8tTtcXZqm546kdEojpPq1w/zrt6dlQojxlSaBN9w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One|Satisfy" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>  
  
    <div ng-app="myApp" class="area">  
    <div ng-controller="myController"> 
    
    <center><h1>Angular JS - ToDo List</h1></center>
    
    <div class="list">
    <div class="listinfo">
    <ul>   
        <li ng-repeat="x in exampleArray">
    <i class="far fa-check-circle"></i> {{x}}
        </li>
    </ul>
    </div>
    </div>
    
    <textarea placeholder="Enter Task" type="text" name="arrExample" ng-model="arrInput"></textarea><br>
    <button class="push btn" ng-click='pushInArray()' >Enter to the List</button><br>
    <button class="del btn" ng-click='delFromArray()' >Delete from the List</button><br>
    </div> 
    </div>

<script src="script.js"></script>
  </body>  
</html>  